{{/*  team list page  */}}
{{ define "main" }}
<div class="flex bg-white">
  <div class="flex-grow my-16 p-4 sm:px-8 min-h-svh">
      {{ partial "headerTitle" . }}

    
        <div class="py-8 sm:py-14 lg:py-20 2xl:py-14 px-2 sm:px-4 bg-neutral-100 rounded-3xl">
          <h2 class="pb-8 sm:pb-14 lg:pb-20 2xl:pb-28 text-right text-7xl text-semibold">
            Founders
          </h2>
          <div class=" grid grid-cols-2 gap-6 sm:grid-cols-5">
            {{ range .Pages.ByWeight }}
            {{ if not .Params.draft }}
            {{ partial "team/team-meta" . }}
            {{ end }}
        {{ end }}

          </div>
        
        </div>

  </div>
</div>
{{ end }}
