{{ $resource := .resource }}
  {{ $index := .index }}
  {{ $alt := $resource.Name }}
  {{ $isFeatured := eq (mod $index 7) 0 }}
  {{ $width := $resource.Width }}
  {{ $height := $resource.Height }}
  {{ $aspectRatio := div (float $width) (float $height) }}

  <div class="{{ if $isFeatured }}col-span-2 row-span-2{{ end }} relative overflow-hidden" style="padding-bottom: {{ mul (div 1 $aspectRatio) 100 }}%;">
    {{ $webpImage := $resource.Process "webp q60 picture" }}
    <picture>
      <source srcset="{{ $webpImage.RelPermalink }}" type="image/webp">
      <img
        src="{{ $resource.RelPermalink }}"
        alt="{{ $alt }}"
        width="{{ $width }}"
        height="{{ $height }}"
        class="dark:invert absolute inset-0 w-full h-full object-cover rounded-lg border border-dashed border-black transition-all duration-300 ease-in-out hover:brightness-75"
        loading="lazy"
      >
    </picture>
  </div>