{{ $galleryPath := "images/gallery/takara-ai" }}
{{ $directories := slice }}
{{ range (readDir (printf "assets/%s" $galleryPath)) }}
  {{ if .IsDir }}
    {{ $directories = $directories | append .Name }}
  {{ end }}
{{ end }}

<div>
  
  {{ range $directory := $directories }}  
<h2 class=" font-light sm:text-xl md:text-2xl lg:text-3xl pt-8 mb-2 sm:pt-8 sm:mb-4 capitalize text-right  border-b border-dashed border-neutral-600">
  <a href="https://huggingface.co/datasets/takara-ai/{{ $directory }}" target="_blank" rel="noopener noreferrer" class="group relative inline-block w-fit text-neutral-600 hover:text-black">
    <span class="block">{{ $directory | humanize }}</span>
    <span 
      class="text-xs sm:text-sm transform rotate-6 absolute -top-1.5 transition-transform duration-300 group-hover:translate-x-1 group-hover:-translate-y-1" 
      aria-hidden="true"
    >↗</span>
  </a>
</h2>
    <div class="grid grid-cols-4 gap-2 sm:gap-4">
      {{ $dirPath := printf "%s/%s" $galleryPath $directory }}
      {{ $images := readDir (printf "assets/%s" $dirPath) }}
      {{ range $index, $image := $images }}
        {{ $extension := path.Ext $image.Name | lower }}
        {{ if and (ne $image.Name ".DS_Store") (in (slice ".jpg" ".jpeg" ".png" ".gif" ".webp") $extension) }}
          {{ $resource := resources.Get (printf "%s/%s" $dirPath $image.Name) }}
          {{ partial "gallery/image.html" (dict "resource" $resource "index" $index) }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
  
  <div class="text-sm h-fit pt-4 sm:pt-8">
    <p>
      Each art collection in this gallery represents a finely crafted open source dataset, 
      available for viewing and use on 
      <a href="{{ .Site.Params.huggingface }}" target="_blank" rel="noopener noreferrer" 
         class="underline">
        Takara.ai's Hugging Face account
      </a>.
    </p>
  </div>
</div>