# contentful-hugo.config.yaml

locales: # fetches from default locale if left blank
    - en-GB

contentful:
    space: 'hmvebmrbwhsg' # defaults to CONTENTFUL_SPACE env variable
    token: 'GXp6qYR_yY0X3fwzK7WGcQSJ5WsCX3ORsiyx_SrCH6I' # defaults to  CONTENTFUL_TOKEN env variable
    # previewToken: 'content-preview-token' # defaults to  CONTENTFUL_PREVIEW_TOKEN env variable
    # environment: 'master' # defaults to "master"

singleTypes:
    # fetches only the most recently updated entry in a particular content type
    # Generated file will be named after the fileName setting

    - id: homepage
      directory: content
      mainContent: body
      fileName: _index

    - id: companyPage
      directory: content/who we are
      mainContent: body
      fileName: _index

    - id: servicesPage
      directory: content/what we do
      mainContent: body
      fileName: _index

    - id: teamPage
      directory: content/who we are/team
      mainContent: body
      fileName: _index

    - id: successPage
      directory: content/our successes
      mainContent: body
      fileName: _index

    - id: generalPage
      directory: content/thinking/insights
      mainContent: body
      fileName: _index
      filters:
        fields.slug: insights

    - id: generalPage
      directory: content/who we are/alliances
      mainContent: body
      fileName: _index
      filters:
        fields.slug: alliances

    - id: generalPage
      directory: content/who we are/about us/branding
      mainContent: body
      fileName: _index
      filters:
        fields.slug: branding      

repeatableTypes:
    # fetches all the entries of a content type and places them in a directory.
    # Generated files will be named after their Entry ID in Contentful.

    - id: teamMember
      directory: content/who we are/team
      mainContent: body

    - id: service
      directory: content/what we do
      mainContent: fullDescription

    - id: blogPost
      directory: content/thinking/insights
      mainContent: body  
