<div class="bg-black text-white ">
  <div class="mx-auto pb-2 sm:pb-4 px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col sm:flex-row justify-between items-center">
      <div
        class="mb-4 md:mb-0 grid gap-1 font-semibold text-center sm:text-left"
      >
        <a href="/" class="text-xl font-bold">takara.ai</a>
        <a href="/ethics/" class="underline">Ethics</a>
        <a href="/about-us/" class="underline">About Us</a>
        <a href="/legal/privacy-policy/" class="underline">Privacy Policy</a>
      </div>
      <div
        class="flex flex-col sm:flex-row items-center text-center sm:text-right"
      >
        <p class="text-sm mr-4 mb-2 sm:mb-0">
          Made over a lot of late nights by Jordan Legg
        </p>
        <a
          href="https://github.com/takara-ai/Website"
          target="_blank"
          rel="noopener noreferrer"
          class="flex items-center justify-center plausible-event-name=Repository"
        >
          <img
            src="https://img.shields.io/badge/GitHub-View%20Repository-blue?style=flat-square&logo=github"
            alt="View Repository on GitHub"
            class="h-6 mb-4 sm:mb-0"
          />
        </a>
      </div>
    </div>
    <div class="mt-6 md:mt-8 text-center sm:text-left">
      <p>Company No. 15404713</p>
      <p>Registered in England and Wales</p>
      <p>128 City Road, London, EC1V 2NX, UNITED KINGDOM</p>
      <p>&copy; TAKARA.AI Ltd {{ now.Format "2006" }}. All rights reserved.</p>
    </div>
  </div>
  <div
    class="mt-6 md:mt-8 px-1 md:px-4 py-4 border-t border-dashed border-white"
  >
    {{ $svg := resources.Get "images/logo-24/TakaraAi.svg" }}
    <div class="flex justify-between">
      <img
        class="h-10 sm:h-12 md:h-16 lg:h-24 xl:h-32 invert"
        src="{{ $svg.RelPermalink }}"
        alt="Takara AI Logo"
      />
      <div class="text-right">
        <h1
          class="text-4xl sm:text-5xl md:text-7xl lg:text-8xl xl:text-9xl font-japaneseBold"
        >
          タカラの
          <span class="text-red-700 m-0 p-0">機械学習</span>
        </h1>
        {{/*
        <h1 class="lg:text-9xl text-red-700 invert">takara.ai</h1>
        */}}
      </div>
    </div>
  </div>
</div>
