<meta charset="UTF-8" />
<!-- CSP -->
<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: ; script-src 'self' 'unsafe-inline' 'unsafe-eval' challenges.cloudflare.com  ; frame-src 'self' www.youtube-nocookie.com challenges.cloudflare.com; style-src 'self' 'unsafe-inline'; "> -->

<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

{{/*  Theme  */}}

<meta name="msapplication-TileColor" content="{{ .Site.Params.themeColor }}" />
<meta name="theme-color" content="{{ .Site.Params.themeColor }}" />

{{- if .IsPage }} {{- if isset .Params "lastmod" -}}
<meta name="last-modified" content="{{ .Params.lastmod }}" />
{{- else -}} {{- with .Lastmod -}} <meta name="last-modified" content="{{
.Format "2006-01-02T15:04:05-07:00" }}"> {{- end -}} {{- end -}} {{- end -}} {{
partial "meta" . }}

<link rel="canonical" href="{{ .Permalink }}" />
<!-- ICONS -->
<link rel="icon" href="/images/logo-24/TakaraAi.svg" />
{{/*  Legacy  */}}
<link rel="icon" href="/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
<link rel="manifest" href="/site.webmanifest" />

<!-- CSS -->
{{ $styles := resources.Get "/css/style.css" | fingerprint |
resources.PostProcess }}
<link rel="preload" href="{{ $styles.RelPermalink }}" as="style" />

<link rel="stylesheet" href="{{ $styles.RelPermalink }}" />

{{/* GoatCounter Analytics */}}

<script
  data-goatcounter="https://takara.goatcounter.com/count"
  async
  src="//gc.zgo.at/count.js"
></script>

{{/*  JS  */}}

<script src="{{ "js/main.js" | relURL }}" defer></script>

{{/* Codeblocks */}} {{ if (findRE "<pre" .Content 1) }} {{/* JS Injection */}}
{{ $js := resources.Get "/js/copy-code-button.js" | resources.Minify |
resources.Fingerprint }}
<script
  src="{{ $js.RelPermalink | safeHTMLAttr }}"
  integrity="{{ $js.Data.Integrity | safeHTMLAttr }}"
  crossorigin="anonymous"
></script>

{{ end }}
