<div
  class="top-0 left-0 w-full z-20 absolute"
>
  {{/* Fetch the SVG logo once and use it for both desktop and mobile nav */}}
  {{ $svg := resources.Get "images/logo-24/TakaraAi.svg" }}

  <nav class="relative px-1 md:px-4  flex justify-between items-start py-1">
    <a href="/
    ">
    <div class="flex items-center rounded">
  
      <svg class="h-16 w-auto fill-red-700" xmlns="http://www.w3.org/2000/svg" data-name="Layer 2" viewBox="0 0 287.95 221.8">
        <g data-name="3">
          <path d="m165.57 124.67-29.46-9.05L29.9 221.8l125.11-63.72 10.56-33.41zm-95.15-7.94 12.54-9.21 9.61-3.89 7.99 1.02 32.31 9.99L28.68 218.8M0 0l108.02 92.62-6.18 9.21-9.68-1.27-10.41 4.21L0 0zm126.97 69.58-22.19 33.28 30.59 9.4-8.4-42.68zm39.56 52.25-27.9-8.54-8.83-44.87 36.73 53.41zm10.27 47.26-17.61-14.56 9.45-29.6 6.99 10.08 1.17 34.08zm67.71-84.19 4.77 15.03-69.48 69.16-1.29-38.48 66-45.71zm2.86-.74 14.18 4.39 26.4 48.21-33.53-34.9-2.32-3.06-4.73-14.64zm-72.13 45.04 18.03-12.48-3.11-12.83-48.41-32.9-7.36-5.04-2.03.92 42.88 62.33zm55.39-112.26L140.7 66.63l23.91 16.3 66.02-65.99zm-40.42 83.39-23.02-15.7 65.78-65.78-23.36 65.61-19.4 15.87z" data-name="3. logo"/>
        </g>
      </svg>
  
      
      </div>
      </a>
    
    <div class="lg:hidden">
      <button class="navbar-burger flex items-center p-3">
        <!-- Simplified SVG for the burger icon -->
        <svg
          class="block h-4 md:h-6 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Mobile menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"></path>
        </svg>
      </button>
    </div>
    <ul
      class="hidden lg:flex lg:w-auto lg:space-x-8 border-b border-black border-dashed flex-grow justify-end"
    >
      {{ partial "nav/auto-link" . }}
    </ul>
    
  </nav>

  <div class="navbar-menu relative z-50 hidden">
    <div class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-25"></div>
    <nav
      class="fixed top-0 left-0 bottom-0 flex flex-col w-svw py-4 px-2 sm:px-4 backdrop-blur-lg border-r min-h-svh"
    >
      <div class="flex items-center mb-8">
        <div class="mr-auto"> {{ partial "nav/crane-svg.html" . }} </div>

        <button class="navbar-close">
          <!-- Simplified SVG for the close icon -->
          <svg
            class="h-4 md:h-6 text-black cursor-pointer hover:text-gray-500"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"
            ></path>
          </svg>
        </button>
      </div>
      <div>
        <ul
          >{{ partial "nav/auto-link" . }}</ul
        >
      </div>
    </nav>
  </div>
</div>

<script>
  // Simplified and optimized JavaScript for the menu toggle
  document.addEventListener("DOMContentLoaded", function () {
    const toggleMenu = () => {
      document
        .querySelectorAll(".navbar-menu")
        .forEach((menu) => menu.classList.toggle("hidden"));
    };

    document
      .querySelectorAll(".navbar-burger, .navbar-close, .navbar-backdrop")
      .forEach((el) => el.addEventListener("click", toggleMenu));
  });
</script>
