<!-- Full-width Navbar -->
<div class="absolute top-0 left-0 w-full z-10">
  <!-- Centered container within navbar -->
  <div class="mx-auto px-4 border-none">
    <div class="relative flex items-center justify-between h-16">
      <!-- Logo and text -->
      <div class="flex-1 flex items-center justify-center sm:justify-start">
        {{ $svg := resources.Get "images/logo-24/TakaraAi.svg" }}
        <a href="/" class="flex items-center">
          <picture class="mr-2">
            <img
              class="h-6 md:h-8"
              src="{{ $svg.RelPermalink }}"
              alt="Takara AI Logo"
            />
          </picture>
          <span class="font-semibold text-xl">takara.ai</span>
        </a>
      </div>
      <menu class="hidden md:block">
        {{ range .Site.RegularPages }} {{ if .IsHome }}
        <!-- Skip the home page -->
        {{ continue }} {{ end }}
        <a href="{{ .RelPermalink }}" class="underline-gradient"
          >{{ .Title }}</a
        >
        {{ end }}
      </menu>

      <div class="bg-gray-100 flex flex-col justify-center md:hidden">
        <div class="relative py-3 sm:max-w-xl mx-auto">
          <button
            id="menu-toggle"
            class="text-gray-500 w-10 h-10 relative focus:outline-none bg-white transition duration-500 ease-in-out transform hover:scale-110"
          >
            <span class="sr-only">Open main menu</span>
            <div
              class="block w-5 absolute left-1/2 top-1/2 transform -translate-x-1/2 -translate-y-1/2"
            >
              <span
                aria-hidden="true"
                class="menu-line block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
              ></span>
              <span
                aria-hidden="true"
                class="menu-line block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
              ></span>
              <span
                aria-hidden="true"
                class="menu-line block absolute h-0.5 w-5 bg-current transform transition duration-500 ease-in-out"
              ></span>
            </div>
          </button>
          <!-- Mobile Menu -->
          <div class="hidden" id="menu">
            <ul class="bg-white shadow-md rounded-lg overflow-hidden">
              {{ range .Site.RegularPages }} {{ if .IsHome }}
              <!-- Skip the home page -->
              {{ continue }} {{ end }}
              <li>
                <a href="{{ .RelPermalink }}" class="underline-gradient"
                  >{{ .Title }}</a
                >
              </li>
              {{ end }}
            </ul>
          </div>
        </div>

        <script>
          document
            .getElementById("menu-toggle")
            .addEventListener("click", function () {
              var menu = document.getElementById("menu");
              var isOpen = menu.classList.contains("hidden");

              // Toggle menu visibility
              if (isOpen) {
                menu.classList.remove("hidden");
              } else {
                menu.classList.add("hidden");
              }

              // Animate menu icon
              var lines = document.querySelectorAll(".menu-line");
              if (isOpen) {
                // Transform to 'X' icon
                lines[0].classList.add("rotate-45", "-translate-y-1.5");
                lines[1].classList.add("opacity-0");
                lines[2].classList.add("-rotate-45", "translate-y-1.5");
              } else {
                // Revert to hamburger icon
                lines[0].classList.remove("rotate-45", "-translate-y-1.5");
                lines[1].classList.remove("opacity-0");
                lines[2].classList.remove("-rotate-45", "translate-y-1.5");
              }
            });
        </script>

        <style>
          .underline-gradient {
            position: relative;
          }

          .underline-gradient::after {
            content: "";
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -2px;
            left: 0;
            background-image: linear-gradient(to right, teal, purple);
            transition: width 0.3s;
          }

          .underline-gradient:hover::after {
            width: 100%;
          }
        </style>
      </div></div
    ></div
  >
</div>
