<!-- Full-width Navbar -->
<div class="absolute top-0 left-0 w-full z-10">
    <!-- Centered container within navbar -->
    <div class="mx-auto px-4 border-none">
        <div class="relative flex items-center justify-between h-16">
            <!-- Logo and text -->
            <div class="flex-1 flex items-center justify-center sm:justify-start">
                {{ $svg := resources.Get "images/logo-24/TakaraAi.svg" }}
                <a href="/" class="flex items-center">
                    <picture class="mr-2">
                        <img class="h-6 md:h-8" src="{{ $svg.RelPermalink }}" alt="Takara AI Logo">
                    </picture>
                    <span class="font-semibold text-xl">takara.ai</span>
                </a>
            </div>
        </div>
    </div>
</div>

<style>
  .underline-gradient {
    position: relative;
  }

  .underline-gradient::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-image: linear-gradient(to right, teal, purple);
    transition: width 0.3s;
  }

  .underline-gradient:hover::after {
    width: 100%;
  }
</style>
