{{ range .Site.Pages }} {{ if or (and .IsNode (ne .Section "legal") (ne .Section
"categories") (ne .Section "tags") (not .IsHome) (ne .RelPermalink
"/services/")) (eq .RelPermalink "/services/custom-gpts/") (eq .RelPermalink
"/about-us/") (eq .RelPermalink "/ethics/") }}
<!-- Render list item for pages that are not in 'legal', 'categories', or 'tags' sections and are not the home page or the '/services/' page, or the specific pages -->
<li>
  <a
    href="{{ .RelPermalink }}"
    class="hover:invert bg-white transition ease-in-out p-1"
    >{{ .Title }}</a
  >
</li>
{{ end }} {{ end }}
