{{ $galleryPath := "images/gallery/takara-ai" }}
{{ $directories := slice }}
{{ range (readDir (printf "assets/%s" $galleryPath)) }}
  {{ if .IsDir }}
    {{ $directories = $directories | append .Name }}
  {{ end }}
{{ end }}

<div>
  
  {{ range $directory := $directories }}  
<h2 class=" sm:text-xl md:text-2xl lg:text-3xl pt-8 mb-2 sm:pt-8 sm:mb-4 capitalize text-right border-b border-dashed border-neutral-600">
  <a href="https://huggingface.co/datasets/takara-ai/{{ $directory }}" target="_blank" rel="noopener noreferrer" class="group inline-flex items-center justify-end w-full text-neutral-600 hover:text-black">
    <span class="mr-2">{{ $directory | humanize }}</span>
    <svg fill="currentColor" class="w-[0.85em] h-[0.85em] inline-flex shrink-0 transition-transform duration-300 group-hover:translate-x-0.5 group-hover:-translate-y-0.5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
      <path d="M320 0c-17.7 0-32 14.3-32 32s14.3 32 32 32l82.7 0L201.4 265.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L448 109.3l0 82.7c0 17.7 14.3 32 32 32s32-14.3 32-32l0-160c0-17.7-14.3-32-32-32L320 0zM80 32C35.8 32 0 67.8 0 112L0 432c0 44.2 35.8 80 80 80l320 0c44.2 0 80-35.8 80-80l0-112c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 112c0 8.8-7.2 16-16 16L80 448c-8.8 0-16-7.2-16-16l0-320c0-8.8 7.2-16 16-16l112 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L80 32z"/>
    </svg>
  </a>
</h2>
    <div class="grid grid-cols-4 gap-2 sm:gap-4">
      {{ $dirPath := printf "%s/%s" $galleryPath $directory }}
      {{ $images := readDir (printf "assets/%s" $dirPath) }}
      {{ range $index, $image := $images }}
        {{ $extension := path.Ext $image.Name | lower }}
        {{ if and (ne $image.Name ".DS_Store") (in (slice ".jpg" ".jpeg" ".png" ".gif" ".webp") $extension) }}
          {{ $resource := resources.Get (printf "%s/%s" $dirPath $image.Name) }}
          {{ partial "gallery/image.html" (dict "resource" $resource "index" $index) }}
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
  
  <div class="text-sm h-fit pt-4 sm:pt-8">
    <p>
      Each art collection in this gallery represents a finely crafted open source dataset, 
      available for viewing and use on 
      <a href="{{ .Site.Params.huggingface }}" target="_blank" rel="noopener noreferrer" 
         class="underline">
        Takara.ai's Hugging Face account
      </a>.
    </p>
  </div>
</div>