{{/*
<section class="md:min-h-svh md:flex md:flex-col">
  <section
    id="header"
    class="border-t border-dashed border-white crane-repeat md:flex-grow h-60 md:h-auto flex items-center"
  >
    <h1
      class="semibold opacity-100 text-center bg-transparent text-white mix-blend-difference isolation-auto"
      style="
        width: 100%;
        font-size: calc(220vw / var(--characters-count));
        --characters-count: 9;
      "
    >
      takara.ai
    </h1>
  </section>
*/}}
<section id="disclaimer" class=" px-1 md:px-4 py-4 flex flex-col sm:flex-row sm:justify-between items-center space-y-3 sm:space-y-0 bg-white relative z-20">
    <div>{{ partial "nav/crane-svg" . }}</div>
    <div
      class="flex flex-wrap justify-center gap-3 sm:gap-6 text-sm lg:text-base text-neutral-600"
    >
      <p class="text-inherit">
        &copy;<span class="font-semibold">takara.ai</span> {{ now.Format "2006"
        }}
      </p>
      <a class="text-inherit hover:text-black" href="/legal/privacy-policy/">Privacy</a>
      <a class="text-inherit hover:text-black" href="/legal/ethics/">Ethics</a>
      <a class="text-inherit hover:text-black" href="/who-we-are/about-us/branding/">Branding</a>      
      <a class="text-inherit hover:text-black" href="https://huggingface.co/takara-ai" target="_blank">Hugging Face</a>
      <a class="text-inherit hover:text-black" target="_blank" href="https://www.linkedin.com/company/takara-ai"
        >LinkedIn</a
      >
    </div>
</section>
