{{ define "main" }}
<div class="relative flex flex-row items-start justify-between">
  {{ partial "prompts/JapPromptText" . }}

  <article
    class="pt-20 prose lg:prose-xl xl:prose-2xl mx-auto p-4 min-h-svh overflow-hidden"
  >
    <header>
      <h1>{{ .Title }}</h1>
      {{ $currentPage := trim .RelPermalink "/" }} {{ $targetPage := trim
      (relURL "/prompt-engineering/prompt-guide/") "/" }} {{ if ne $currentPage
      $targetPage }}
      <a href="{{ $targetPage | absURL }}"
        >Visit here first if you are confused.</a
      >
      {{ else }}
      <!-- Optionally, provide feedback or alternative content here -->
      <!-- <span>You are already on the guide page.</span> -->
      {{ end }}
    </header>
    <section>{{ .Content }}</section>
  </article>
</div>

{{ end }}
