{{ define "main" }}
<div class="relative flex flex-row items-start justify-between">
  {{ partial "prompts/JapPromptText" . }}

  <article
    class="pt-20 prose lg:prose-xl xl:prose-2xl mx-auto p-4 min-h-svh overflow-hidden"
  >
    <header>
      <h1>{{ .Title }}</h1>
{{ $currentPage := trim .RelPermalink "/" }}
{{ $targetPage := trim (relURL "/prompt-engineering/prompt-guide/") "/" }}

<!-- Link to go back to the section page -->
<a class="font-japanese no-underline rounded text-red-700  hover:shadow-inner pl-0 p-3 mb-4 transition-colors duration-200 ease-in-out" href="{{ "/prompt-engineering/" | relURL }}"><i class="fa-solid fa-hand-point-left mr-2"></i>戻る</a>

{{ if ne $currentPage $targetPage }}
  <!-- Conditional link to the specific guide, only if not on that page -->
  <a class="block mt-2 max-w-fit" href="{{ $targetPage | absURL }}">Visit here first if you need help.</a>
{{ else }}
  <!-- Optionally, indicate the user is currently viewing the guide -->
  <!-- <span>You are already on the guide page.</span> -->
{{ end }}



    </header>
    <section>{{ .Content }}</section>
  </article>
</div>

{{ end }}
