<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="dark:invert bg-white">
    <nav>{{ partial "mobile-menu" . }}</nav>
    <main class="bg-white">{{ block "main" . }}{{ end }}</main>

    <footer class="bg-black text-white border-dashed border-white border-t"></footer>
      {{ partial "footer" . }}
    </footer>
    <script>

      const takaraCrane = `
 #                                                
   #                                              
    ##                               # #          
      ##                          ## ##           
       ###                    ########            
        ####               ###########            
          ####         # ###### #####             
           ######    ### ## # ######              
             ###### ##### #########     ## ##     
              ##   #### ## #####      #### ###    
              ########  #########  #####     ##   
            ################  #########        #  
           ################# # ######             
           ####### ########### ####               
          ###### ########## ## ##                 
         ##### #########                          
        #### #######                              
        ########                                  
       ######                                     
      # #                                         

`
        console.info("%c" + takaraCrane, "color: #B91C1C; font-family: monospace;",
        "We're hiring! https://www.linkedin.com/company/takara-ai/jobs/")
    </script>
  </body>

</html>
