<!DOCTYPE html>
<html class="scroll-smooth" lang="{{ .Language.Lang }}">
  <head>
    {{ partial "head.html" . }}
  </head>

  <body class="dark:invert bg-white">
    {{/*  Google Analytics No-Script  */}}
    {{ partial "meta/ga-body" . }}
    {{/*  Rest of Site  */}}
    <nav>{{ partial "mobile-menu" . }}</nav>
    <main class="bg-white">{{ block "main" . }}{{ end }}</main>

    <footer class="bg-black text-white border-dashed border-white border-t"></footer>
      {{ partial "footer" . }}
    </footer>
    {{/*  Consent Modal  */}}
    {{ partial "consent/modal" . }}
  </body>

</html>
