{{/* layouts/_default/list.html */}}
{{ define "main" }}
<div class="relative flex flex-row items-start justify-between bg-white">
  {{ if eq .CurrentSection.Type "prompt-engineering" }}
  {{ partial "prompts/JapPromptText" . }}
{{ end }}
  
  <div class="py-20 p-4 sm:px-8 min-h-svh flex-grow">
    
      {{ partial "headerTitle" . }}
 

    <section>
        <!-- Default list content -->
        <div class="grid grid-cols-1 sm:grid-cols-3 lg:grid-cols-4 gap-4">
          {{ range .Pages }}
            <a href="{{ .RelPermalink }}" class="rounded-lg p-4 flex flex-col items-left justify-between overflow-hidden bg-white space-y-4 transition ease-in-out border sm:hover:shadow-md sm:hover:border border-red-700 hover:border-black border-dashed">
              <div>
                <h2 class="font-bold mb-2 w-fit text-xl sm:text-3xl border-b border-black">
                  {{ .Title | truncate 50 "..." }}
                </h2>
                <p class="text-neutral-600 text-xs lg:text-base ml-1 break-words">
                  {{/*  {{ .Summary | truncate 120 "..." }}  */}}
                </p>
              </div>
              <span class="text-red-700 font-semibold hover:underline text-xs ml-1 mt-2 border-b border-red-700 w-fit">
                Learn more &rarr;
              </span>
            </a>
          {{ end }}
        </div>
    </section>
  </div>
</div>
{{ end }}


