{{define "main"}}
<article class="bg-blue-gray-50">
  <div class="relative border-b-2 border-black border-dashed h-svh">
    <div class="">
      <div
        class="h-[20vh] md:h-[30vh] grid place-items-center bg-red-700"
      ></div>

      <!-- Adjusted image positioning to accurately overlap between the two divs -->
      {{ $svg := resources.Get "images/logo-24/TakaraAi.svg" }}
      <picture
        class="absolute w-2/3 h-2/3 md:w-1/2 md:h-1/2 left-1/3 md:left-1/4 transform -translate-x-1/2 -translate-y-12 md:-translate-y-1/3"
      >
        <source srcset="{{ $svg.RelPermalink }}" type="image/svg+xml" />
        <img
          class="filter drop-shadow-md"
          src="{{ $svg.RelPermalink }}"
          alt="takara.ai logo"
        />
      </picture>

      <div
        class="flex flex-col justify-center h-screen sm:p-4 p-2 mx-auto text-right lg:flex-none lg:justify-normal"
      >
        <h1 class="text-3xl md:text-6xl font-bold">Empower Your Data</h1>
        <h1 class="text-3xl md:text-6xl font-japaneseBold">データを強化する</h1>
        <h2 class="text-base md:text-xl">Faster With Micro AI Deployments</h2>
        <h2 class="font-japanese text-base md:text-xl">
          マイクロAIデプロイメントでより速く
        </h2>
      </div>
    </div>
    <i class="fa-solid fa-scissors absolute pl-2 sm:pl-4 -bottom-2"></i>
  </div>

  <div
    class="relative min-h-screen lg:min-h-[150vh] diagonal-slice flex flex-col justify-evenly"
  >
    <div>
      <!-- Section Heading -->
      <h1
        class="text-3xl md:text-6xl font-bold my-14 sm:pl-4 pl-2 text-center md:text-left"
      >
        How Does It Work?
      </h1>

      <!-- Content Section -->
      <section class="text-white sm:px-4 px-2">
        <div>
          <div class="grid md:grid-cols-2 gap-10">
            <!-- Traditional AI -->
            <div
              class="bg-white border border-black rounded-xl shadow-xl overflow-hidden"
            >
              <h2 class="text-2xl font-bold bg-black text-white p-4">
                Standard AI: Bulky & Resource-Heavy
              </h2>
              <ul class="p-4 space-y-4 text-black">
                <li class="flex items-center">
                  <i class="fas fa-server fa-lg mr-2"></i>
                  <span>High operational costs and energy consumption</span>
                </li>
                <li class="flex items-center">
                  <i class="fas fa-sitemap fa-lg mr-2"></i>
                  <span>Complex, bloated design</span>
                </li>
                <li class="flex items-center">
                  <i class="fas fa-scale-balanced fa-lg mr-2"></i>
                  <span>Difficult to scale</span>
                </li>
                <li class="flex items-center">
                  <i class="fas fa-wrench fa-lg mr-2"></i>
                  <span>Frequent maintenance and updates required</span>
                </li>
              </ul>
            </div>

            <!-- Micro AI Services -->
            <div
              class="bg-white border border-black rounded-xl shadow-xl overflow-hidden drop-shadow-xl"
            >
              <h2 class="text-2xl font-bold bg-black text-white p-4">
                Micro AI: Agile & Efficient
              </h2>
              <ul class="p-4 space-y-4 text-black">
                <li class="flex items-center">
                  <i class="fas fa-cloud fa-lg mr-2"></i>
                  <span
                    >Serverless architectures reduce costs and complexity</span
                  >
                </li>
                <li class="flex items-center">
                  <i class="fas fa-rocket fa-lg mr-2"></i>
                  <span>Optimized for efficiency</span>
                </li>
                <li class="flex items-center">
                  <i class="fas fa-arrows-alt-h fa-lg mr-2"></i>
                  <span>Easy to scale</span>
                </li>
                <li class="flex items-center">
                  <i class="fas fa-leaf fa-lg mr-2"></i>
                  <span>Eco-friendly with lower energy consumption</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <section class="sm:px-4 px-2 my-14">
        <div class="grid md:grid-cols-2 gap-10">
          <div class="hidden md:block"></div>
          <!-- Traditional AI -->
          <div
            class="bg-white border border-black rounded-xl drop-shadow-xl shadow-xl overflow-hidden flex"
          >
            <!-- Left Section for Text -->
            <div class="flex-1 bg-white p-4">
              <!-- Your text goes here -->
              <p class="">Book your free 2 hour workshop now -></p>
            </div>

            <!-- Right Section for Button -->
            <div class="w-1/5 bg-black p-4 flex justify-center items-center">
              <!-- Your button goes here -->
              <button class="text-white">Button</button>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="border-b-2 border-black border-dashed relative my-12">
      <i class="fa-solid fa-scissors absolute pl-2 sm:pl-4 -top-2"></i>
    </div>

    <div class="hidden md:block">
      <div
        class="py-24 2xl:py-48 backdrop-invert bg-transparent grid md:grid-cols-2"
      >
        <div class="sm:pl-4 pl-2 text-white">
          <h2 class="text-base md:text-xl">Humanity Once Thought</h2>
          <h2 class="text-base md:text-xl">人類はかつて思った"</h2>
          <h1 class="text-3xl md:text-4xl lg:text-4xl 2xl:text-6xl font-bold">
            It Was Impossible
          </h1>
          <h1
            class="text-3xl md:text-4xl lg:text-4xl 2xl:text-6xl font-japaneseBold"
          >
            それは不可能でした
          </h1>
        </div>
        <div class="text-right pr-2 sm:pr-4">
          <h2 class="text-base md:text-xl">AI Makes You</h2>
          <h2 class="text-base md:text-xl">AIがあなたを作ります</h2>
          <h1 class="text-3xl md:text-4xl lg:text-4xl 2xl:text-6xl font-bold">
            Invert Your Thinking
          </h1>
          <h1
            class="text-3xl md:text-4xl lg:text-4xl 2xl:text-6xl font-japaneseBold"
          >
            考えを逆転させてください
          </h1>
        </div>
      </div>
    </div>
  </div>
</article>
{{/* CSS Injection */}} {{ $css := resources.Get "css/pages/micro-ai.css" |
resources.Minify | resources.Fingerprint | resources.PostProcess}}
<link
  rel="stylesheet"
  href="{{ $css.RelPermalink }}"
  integrity="{{ $css.Data.Integrity }}"
/>

{{end}}
