<section
  class="h-screen overflow-hidden text-black grid grid-cols-2 border-t border-black border-dashed"
>
  <div class="w-full rounded-lg mx-auto border-gray-500">
    <h1
      class="text-3xl pl-2 sm:pl-4 sm:text-6xl md:text-7xl 2xl:text-9xl border-b border-gray-800 font-semibold pr-4"
    >
      Contact
    </h1>
    <div class="">
      <form
        action="https://formspree.io/f/meqbygwj"
        method="POST"
        class="grid grid-cols-1 font-whisper placeholder-font-mono text-xl sm:text-2xl lg:text-4xl"
      >
        <input
          type="text"
          name="first-name"
          placeholder="First Name"
          class="placeholder-black w-full focus:outline-none pl-2 sm:pl-4 border-b border-black border-dotted pt-3 lg:pt-2 hover:bg-gray-400 h-10"
          required
        />

        <input
          type="text"
          name="last-name"
          id="last-name"
          placeholder="Last Name"
          class="placeholder-black w-full focus:outline-none pl-2 sm:pl-4 border-b border-black border-dotted pt-3 lg:pt-2 hover:bg-gray-400 h-10"
          required
        />

        <input
          type="email"
          name="email"
          id="email"
          placeholder="Your Email"
          class="placeholder-black w-full focus:outline-none pl-2 sm:pl-4 border-b border-black border-dotted pt-3 lg:pt-2 hover:bg-gray-400 h-10"
          required
        />

        <button
          type="submit"
          class="text-black focus:outline-none focus:ring-2 focus:ring-opacity-50 pl-2 sm:pl-4 font-bold border-b pt-3 lg:pt-2 border-black border-dotted h-10 text-left hover:bg-gray-400"
        >
          Submit ->
        </button>
      </form>
    </div>
    <div class="notebook-left grid grid-cols-1 gap-4 py-4">
      <!-- Dynamic lines will be inserted here -->
    </div>
  </div>

  <!-- "Visions" in the right container -->
  <div class="border-gray-400 border-l pl-0 text-left sm:text-right">
    <h1
      class="text-3xl pl-2 sm:pl-0 sm:text-6xl md:text-7xl 2xl:text-9xl border-b border-gray-800 font-semibold pr-4"
    >
      Innovations
    </h1>
    <div class="text-left text-xl sm:text-2xl lg:text-4xl text-blue-900">
      <p
        class="placeholder-black w-full focus:outline-none px-2 sm:px-4 border-b border-black border-dotted pt-3 lg:pt-2 h-10 font-whisper leading-10"
      >
        <span class="text-green-700">&#10003;</span> Implement a Chatbot: I'll
        explore using AI-powered chatbots to improve customer support and
        streamline inquiries.<br />

        <span class="text-green-700">&#10003;</span> Personalize Marketing: I'll
        harness AI to analyze customer data and create personalized marketing
        campaigns.<br />

        <span class="text-green-700">&#10003;</span> Master Data Analytics: I'll
        dive into AI-driven data analytics to gain insights and make informed
        decisions.<br />

        <span class="text-green-700">&#10003;</span> Predictive Maintenance:
        I'll investigate AI solutions to predict equipment maintenance needs and
        minimize downtime.<br />

        <span class="text-green-700">&#10003;</span> Optimize Inventory: I'll
        use AI to optimize inventory levels, reducing excess stock and
        shortages.<br />

        <span class="text-green-700">&#10003;</span> Enhance Supply Chain: I'll
        explore AI's potential to optimize our supply chain for
        cost-efficiency.<br />

        <span class="text-green-700">&#10003;</span> Boost Fraud Detection: I'll
        utilize AI to enhance security by detecting fraudulent transactions.<br />

        <span class="text-green-700">&#10003;</span> Automate Tasks: I'll
        identify tasks that AI can automate to improve employee productivity.<br />

        <span class="text-green-700">&#10003;</span> Conduct Market Research:
        I'll leverage AI for market trend analysis and competitive
        intelligence.<br />

        <span class="text-green-700">&#10003;</span> Improve Healthcare: I'll
        explore AI's role in improving medical diagnostics and patient care.<br />

        <span class="text-green-700">&#10003;</span> Optimize Financial
        Services: I'll investigate AI tools for assessing credit risk and
        portfolio optimization.<br />

        <span class="text-green-700">&#10003;</span> Streamline Content
        Creation: I'll experiment with AI-generated content to save time.<br />

        <span class="text-green-700">&#10003;</span> Utilize Language
        Translation: I'll use AI-powered translation services to communicate
        globally.<br />

        <span class="text-green-700">&#10003;</span> Enhance Energy Efficiency:
        I'll seek AI solutions to optimize energy usage and reduce costs.<br />

        <span class="text-green-700">&#10003;</span> Revamp HR: I'll consider AI
        for candidate screening and talent management.<br />

        <span class="text-green-700">&#10003;</span> Implement Quality Control:
        I'll explore AI for real-time product inspection and defect
        detection.<br />

        <span class="text-green-700">&#10003;</span> Tap into Legal Research:
        I'll use AI to assist in legal research and document review.<br />

        <span class="text-green-700">&#10003;</span> Elevate E-commerce: I'll
        utilize AI-driven recommendations and search algorithms to boost online
        sales.<br />

        <span class="text-green-700">&#10003;</span> Manage Social Media: I'll
        employ AI tools to analyze social media data and improve engagement.<br />

        <span class="text-green-700">&#10003;</span> Optimize Education: I'll
        embrace AI-powered e-learning platforms to personalize learning
        experiences.<br />
      </p>
    </div>

    <div class="notebook-right grid grid-cols-1 gap-4 py-4">
      <!-- Dynamic lines will be inserted here -->
    </div>
  </div>
</section>

{{/* CSS Injection */}} {{ $css := resources.Get "css/components/contact.css" |
resources.Minify | resources.Fingerprint | resources.PostProcess}}
<link
  rel="stylesheet"
  href="{{ $css.RelPermalink }}"
  integrity="{{ $css.Data.Integrity }}"
/>

<script type="module" src="js/components/notebookCalc.js"></script>
