<section
  class="h-svh flex flex-col justify-between border-b border-dashed border-black"
>
  <div class="ripped w-full">
    <h1
      class="font-bold text-3xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl pt-20 px-2 sm:px4 pb-1"
    >
      Transforming Humanity
    </h1>
    <h1
      class="text-red-700 font-japanese font-bold text-3xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl px-2 sm:px4 sm:pb-8"
    >
      人類を変革する<
    </h1>
  </div>
  <div
    class="japgrid flex-grow bg-black xl:bg-white xl:hover:bg-black duration-1000 transition ease-in-out flex items-center"
  >
    <div class="flex w-full">
      <div class="flex-1"></div>
      <p class="text-white text-sm max-w-sm sm:max-w-md px-2 sm:px-4">
        Together, we can harness AI to transform your business and uplift
        humanity. We guide you through AI's complexities, driving ethical
        innovation and enhancing productivity, lifespan, and quality of life.
      </p>
    </div>
  </div>

  <div class="ripped rotate-180 h-[10vh]"></div>
</section>

<style>
  .japgrid {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.043) 1px,
        transparent 1px
      ),
      linear-gradient(180deg, rgba(255, 255, 255, 0.043) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  .ripped {
    background: white;
    position: relative;
  }

  .ripped::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    background: url({{"svg/rip.svg"|absURL}}) bottom;
    background-size: auto;
  }
</style>
