<section
  class="h-svh flex flex-col justify-between border-b border-dashed border-black"
>
  <div class="w-full">
    <h1
      class="font-bold text-3xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl mt-20 px-2 sm:px4 mb-1 w-fit h-fit"
    >
      Transforming Humanity
    </h1>
    <h1
      class="text-red-700 font-japanese font-bold text-3xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl px-2 sm:px4 sm:mb-8 w-fit h-fit"
    >
      人類を変革する
    </h1>
  </div>
  {{/*
  <div
    class="flex-grow bg-black xl:bg-white xl:hover:bg-black duration-700 transition ease-in-out flex items-center group"
  >
    <div class="flex w-full">
      <div class="hidden sm:block"></div>
      <p class="text-white text-base sm:text-lg text-center px-2 sm:px-4 py-2">
        Together, we can harness AI to transform your business and uplift
        humanity. We guide you through AI's complexities, driving ethical
        innovation and enhancing productivity, lifespan, and quality of life.
      </p>
    </div>
  </div>

  <div class="ripped rotate-180 h-[10vh]"></div> */}}
</section>

{{/*
<style>
  .japgrid {
    background-image: linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.104) 1px,
        transparent 1px
      ),
      linear-gradient(180deg, rgba(255, 255, 255, 0.104) 1px, transparent 1px);
    background-size: 20px 20px;
  }
  .ripped {
    background: white;
    position: relative;
  }

  .ripped::after {
    content: "";
    position: absolute;
    top: 100%;
    height: 20px;
    width: 100%;
    left: 0;
    background: url({{"svg/rip.svg"|absURL}}) bottom;
    background-size: auto;
  }
</style>
*/}}
