<section
  class=""
  id="hero"
  ><div
    class="flex items-center justify-center min-h-svh px-4 sm:px-6 lg:px-8"
  >
    <div class="w-full mx-auto">
      <div class="text-center">
        <h1
          class="text-2xl sm:text-4xl md:text-5xl lg:text-8xl xl:text-9xl font-bold tracking-tight"
          >Empower Your <span class="underline text-red-700">Company</span> with Artificial Intelligence.</h1
        >
        
      </div>
    </div>
    
  </div>
  {{/*  <div class="typewriter flex justify-center">
          <h2
            id="typewriter-text"
            class="text-base sm:text-lg md:text-xl uppercase whitespace-nowrap tracking-widest border-r-2 font-mono text-gray-600"
          >
            <!-- Typewriter text will be inserted here -->
          </h2>
        </div>  */}}
  
</section>

<style>
  .typewriter h2 {
    animation: blink-caret 0.75s step-end infinite;
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const texts = ["タカラ マシンラーニング", "TAKARA Artificial Intelligence"];
    const typewriterText = document.getElementById("typewriter-text");

    let count = 0;
    let index = 0;
    let currentText = "";
    let typingSpeed = 100;

    function type() {
      if (count === texts.length) {
        count = 0;
      }

      currentText = texts[count];
      let letter = currentText.slice(0, ++index);

      typewriterText.textContent = letter;

      if (letter.length === currentText.length) {
        count++;
        index = 0;
        setTimeout(type, 3000); // Wait between switching texts
      } else {
        setTimeout(type, typingSpeed);
      }
    }

    type(); // Start the typewriter effect
  });
</script>
