<section
  class="min-h-[50vh] grid grid-cols-1 md:grid-cols-3 border-b border-dashed border-black"
>
  <div
    class="border-b md:border-r border-dashed border-gray-400 md:border-b-0 px-2 sm:px-4 hover:invert bg-white flex flex-col items-left justify-between"
  >
    <div class="grid gap-5 pt-5">
      <p>Retrieval Augmented Generation</p>

      <h2 class="text-2xl lg:text-3xl xl:text-4xl font-bold">
        Business Process Automation
      </h2>
      <p class="px-2 sm:px-4 max-w-sm font-light">
        we did something here and it completely changed the game
      </p>
    </div>
    &rarr;
  </div>
  <div
    class="border-b md:border-r border-dashed border-gray-400 md:border-b-0 px-2 sm:px-4 hover:invert bg-white flex flex-col items-left justify-between"
  >
    <div class="grid gap-5 pt-5">
      <p>Computer Vision</p>

      <h2 class="text-2xl lg:text-3xl xl:text-4xl font-bold">
        Improved Customer Experience
      </h2>
      <p class="px-2 sm:px-4 max-w-sm font-light">
        we did something here and it completely changed the game
      </p>
    </div>
    &rarr;
  </div>
  <div
    class="px-2 sm:px-4 hover:invert bg-white flex flex-col items-left justify-between"
  >
    <div class="grid gap-5 pt-5">
      <p class="">Deep Neural Networks</p>

      <h2 class="text-2xl lg:text-3xl xl:text-4xl font-bold">
        Advancements in Manufacturing and Technology
      </h2>
      <p class="px-2 sm:px-4 max-w-sm font-light">
        we did something here and it completely changed the game
      </p>
    </div>
    <p class="text-red-700">&rarr;</p>
  </div>
</section>
