{{ define "main" }}



<div class="flex items-center justify-center min-h-screen px-4 sm:px-6 lg:px-8">
  <div class="w-full max-w-3xl mx-auto py-12 sm:py-24 lg:py-32">
    <div class="text-center">
      <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold tracking-tight text-gray-900">Empower Your Data with Artificial Intelligence</h1>
      <div class="typewriter mt-4 sm:mt-6">
        <h2 id="typewriter-text" class="text-base sm:text-lg md:text-xl uppercase">タカラ アーティフィシャル インテリジェンス</h2>
      </div>

      <p class="mt-4 sm:mt-6 text-sm sm:text-base md:text-lg leading-relaxed text-gray-700">
        Our new website is coming soon. Contact 
        <a href="mailto:jordan@takara.ai" class="font-semibold text-blue-600 hover:text-blue-800">
          jordan@takara.ai
        </a> 
        for enquiries.
      </p>
    </div>
  </div>
</div>



<style>
  @keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}


.typewriter h2 {
  overflow-wrap: break-word;
  border-right: .15em solid black; /* The typewriter cursor */
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  display: inline-block; /* Make the h1 inline-block to fit the content width */
}

@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: black; }
}


</style>

<script>
  // not sure why this works but it does.
const texts = ['タカラ アーティフィシャル インテリジェンス', 'TAKARA Artificial Intelligence']; // Japanese and English
let count = 0;
let index = 0;
let currentText = '';
let intervalTime = 100; // Typing speed
let typingSpeed = 100; // Typing speed in ms

(function type() {
  if (count === texts.length) {
    count = 0;
  }
  currentText = texts[count];
  letter = currentText.slice(0, ++index);

  const typewriterText = document.querySelector('#typewriter-text');
  typewriterText.textContent = letter;

  if (letter.length === currentText.length) {
    count++;
    index = 0;
    setTimeout(type, 3000); // Wait for 3 seconds before starting the next word
  } else {
    setTimeout(type, typingSpeed); // Typing speed
  }

  // Adjust the animation speed based on text length
  const typingDuration = currentText.length * typingSpeed;
  typewriterText.style.animation = `blink-caret .75s step-end infinite, typing ${typingDuration}ms steps(${currentText.length}, end)`;

}());

</script>



{{ end }}

