{{ define "main" }} {{ partial "home/header" .}}

<section class="flex w-full min-h-screen">
  <div
    class="bg-gray-800 text-white sm:p-4 p-2 flex flex-col w-1/3 shadow-2xl shadow-black flex-grow justify-center"
  >
    <h1 class="text-base sm:text-2xl md:text-5xl font-bold tracking-tight">
      Understanding when to use AI should be simpler than learning Japanese.
    </h1>

    <div class="flex mt-8">
      <label
        class="relative inline-flex items-center sm:mb-5 mb-10 cursor-pointer"
      >
        <input
          type="checkbox"
          id="language-toggle"
          value=""
          class="sr-only peer"
          onclick="toggleLanguage()"
        />
        <div
          class="shadow-inner shadow-gray-800 w-14 h-7 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-teal-300 rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all peer-checked:bg-teal-500"
        ></div>
      </label>
    </div>
  </div>

  <div
    class="flex flex-grow items-center justify-center text-base sm:text-3xl text-center font-mono shadow-inner shadow-gray-400"
  >
    <div class="">
      <p id="japanese-text" class="text-gray-800 px-2 sm:px-4">
        人工知能（AI）は、成長と効率性の前例のない機会を提供することにより、ビジネス界を革命的に変えています。機械学習やデータ分析などのAI技術により、企業は自社の運営、顧客行動、市場動向に関するより深い洞察を得ることができます。これにより、意思決定の改善、顧客体験の向上、プロセスの効率化が実現します。さらに、AI駆動の自動化により手作業が減少し、従業員はより戦略的な活動に集中できるようになります。その結果、AIを取り入れる企業は競争環境で先を行くことができます。
      </p>
      <div id="english-text" class="text-gray-800">
        <p class="rounded-md px-2 sm:px-4 leading-relaxed">
          At
          <span class="font-semibold sm:bold font-sans">takara.ai</span>, we
          make AI implementation effortless. We handle everything, from
          selecting the best models and tools to crafting customized solutions
          that offer enhanced business data insights while cutting costs.
        </p>
      </div>
    </div>
  </div>
</section>
<section
  class="min-h-screen bg-gradient-to-tr from-pink-300 to-green-300 to-80% flex"
>
  <div
    class="w-full flex items-center bg-gradient-to-br from-orange-200 from-20% via-transparent to-blue-100"
  >
    <div class="flex-1 flex flex-col items-center justify-center">
      <span
        id="japanese-char"
        class="text-7xl md:text-9xl font-bold blur-sm"
      ></span>
      <p
        id="english-char"
        class="mt-8 text-center p-4 text-base sm:text-lg md:text-xl"
      >
        We specialize in helping leaders seamlessly integrate AI into their core
        strategies, eliminating the need to keep up with current trends.
      </p>
    </div>
  </div>
</section>
{{ partial "home/contact" . }}

<style>
  #english-text,
  #toggle-switch {
    display: none;
  }
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  #japanese-char {
    animation: blink 0.1s step-end infinite; /* Rapid blinking effect */
  }
</style>

<script>
  function toggleLanguage() {
    var japaneseText = document.getElementById("japanese-text");
    var englishText = document.getElementById("english-text");
    var isChecked = document.getElementById("language-toggle").checked;

    if (isChecked) {
      japaneseText.style.display = "none";
      englishText.style.display = "block";
    } else {
      japaneseText.style.display = "block";
      englishText.style.display = "none";
    }
  }

  const japaneseCharacters = ["仕事", "壮大", "木", "切磋琢磨", "侘寂", "和"]; // Example characters

  function changeJapaneseText() {
    const randomIndex = Math.floor(Math.random() * japaneseCharacters.length);
    document.getElementById("japanese-char").textContent =
      japaneseCharacters[randomIndex];
  }

  setInterval(changeJapaneseText, 100); // Adjust speed of changing Japanese characters
</script>

{{ end }}
