{{ define "main" }}

<section class="mx-auto w-full min-h-screen" id="hero"
  ><div
    class="flex items-center justify-center min-h-screen px-4 sm:px-6 lg:px-8"
  >
    <div class="w-full max-w-3xl mx-auto py-12 sm:py-24 lg:py-32">
      <div class="text-center">
        <h1
          class="text-3xl sm:text-4xl md:text-5xl font-bold tracking-tight text-gray-900"
          >Empower Your Data with Artificial Intelligence</h1
        >
        <div class="typewriter mt-4 sm:mt-6">
          <h2
            id="typewriter-text"
            class="text-base sm:text-lg md:text-xl uppercase"
            >タカラ アーティフィシャル インテリジェンス</h2
          >
        </div>

        <p
          class="mt-4 sm:mt-6 text-sm sm:text-base md:text-lg leading-relaxed text-gray-700"
        >
          Our new website is coming soon. Contact
          <a
            href="mailto:jordan@takara.ai"
            class="font-semibold text-blue-600 hover:text-blue-800"
          >
            jordan@takara.ai
          </a>
          for enquiries.
        </p>
      </div>
    </div>
  </div></section
>

<section class="flex w-full min-h-screen">
  <div
    class="bg-gray-800 text-white p-4 flex flex-col justify-between"
    style="width: 30%"
  >
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold tracking-tight">
      Understanding Your Business Problems Shouldn't be as Hard as Learning
      Japanese
    </h1>

    <div class="flex-grow flex justify-center items-end">
      <div class="mb-4">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-6 w-6 animate-bounce"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M19 9l-7 7-7-7"
          />
        </svg>
      </div>
    </div>

    <div class="flex justify-center">
      <label class="relative inline-flex items-center mb-5 cursor-pointer">
        <input
          type="checkbox"
          id="language-toggle"
          value=""
          class="sr-only peer"
          onclick="toggleLanguage()"
        />
        <div
          class="w-14 h-7 bg-gray-400 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-teal-300 rounded-full peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-0.5 after:start-[4px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-6 after:w-6 after:transition-all peer-checked:bg-teal-500"
        ></div>
      </label>
    </div>
  </div>

  <div
    class="flex flex-grow items-center justify-center p-4 text-3xl text-center bg-white"
    style="width: 70%"
  >
    <div class="w-full">
      <p id="japanese-text" class="text-gray-900">
        人工知能（AI）は、成長と効率性の前例のない機会を提供することにより、ビジネス界を革命的に変えています。機械学習やデータ分析などのAI技術により、企業は自社の運営、顧客行動、市場動向に関するより深い洞察を得ることができます。これにより、意思決定の改善、顧客体験の向上、プロセスの効率化が実現します。さらに、AI駆動の自動化により手作業が減少し、従業員はより戦略的な活動に集中できるようになります。その結果、AIを取り入れる企業は競争環境で先を行くことができます。
      </p>
      <p id="english-text" class="text-gray-900" style="display: none">
        Imagine this: your toughest business challenges, unraveled with a simple
        flip of a switch. That's the power we harness at Takara.AI. With
        cutting-edge language models and innovative F Model-style architecture,
        we transform complexity into clarity—without moving your data an inch.
        Unlock actionable insights and make decisions with confidence, all at
        the slide of a toggle. Welcome to a new era of simplicity and insight
        with Takara.AI
      </p>
    </div>
  </div>
</section>

<style>
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  .typewriter h2 {
    overflow-wrap: break-word;
    border-right: 0.15em solid black; /* The typewriter cursor */
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.15em;
    display: inline-block; /* Make the h1 inline-block to fit the content width */
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  }
  #english-text,
  #toggle-switch {
    display: none;
  }
</style>

<script>
  // not sure why this works but it does.
  const texts = [
    "タカラ アーティフィシャル インテリジェンス",
    "TAKARA Artificial Intelligence",
  ]; // Japanese and English
  let count = 0;
  let index = 0;
  let currentText = "";
  let intervalTime = 100; // Typing speed
  let typingSpeed = 100; // Typing speed in ms

  (function type() {
    if (count === texts.length) {
      count = 0;
    }
    currentText = texts[count];
    letter = currentText.slice(0, ++index);

    const typewriterText = document.querySelector("#typewriter-text");
    typewriterText.textContent = letter;

    if (letter.length === currentText.length) {
      count++;
      index = 0;
      setTimeout(type, 3000); // Wait for 3 seconds before starting the next word
    } else {
      setTimeout(type, typingSpeed); // Typing speed
    }

    // Adjust the animation speed based on text length
    const typingDuration = currentText.length * typingSpeed;
    typewriterText.style.animation = `blink-caret .75s step-end infinite, typing ${typingDuration}ms steps(${currentText.length}, end)`;
  })();
  document.addEventListener("DOMContentLoaded", function () {
    document
      .getElementById("language-toggle")
      .addEventListener("change", toggleLanguage);
  });

  function toggleLanguage() {
    var japaneseText = document.getElementById("japanese-text");
    var englishText = document.getElementById("english-text");
    var isChecked = document.getElementById("language-toggle").checked;

    if (isChecked) {
      japaneseText.style.display = "none";
      englishText.style.display = "block";
    } else {
      japaneseText.style.display = "block";
      englishText.style.display = "none";
    }
  }
</script>

{{ end }}
