baseURL = 'https://takara.ai'
languageCode = "en"
DefaultContentLanguage = "en"
title = 'takara.ai'
minify = true
enableRobotsTXT = true

[module]
  [module.hugoVersion]
    extended = true
    min = "0.104.0"

[taxonomies]
  tag = ""
  category = ""


[sitemap]
  changefreq = 'daily'
  filename = 'sitemap.xml'
  priority = 0.5

[params]
description = "Transforming Humanity"
