
<div>
  {{ with .Params.image }}
    {{ $imagePath := path.Join "images/team" . }}
    {{ with resources.Get $imagePath }}
      {{ $image := .Fill "350x350 webp q75 picture center" }}
      {{ $imgSizes := slice 150 200 300 350 }}

      <img
        alt="{{ $.Title }} - {{ $.Params.position }}"
        loading="lazy"
        width="350"
        height="350"
        decoding="async"
        class="dark:invert h-auto w-full object-cover aspect-square rounded-3xl transition-all duration-300 ease-in-out hover:brightness-75"
        sizes="(min-width: 1536px) 175px, (min-width: 1280px) 175px, (min-width: 1024px) 175px, (min-width: 640px) 250px, 150px"
        srcset="{{ range $size := $imgSizes }}
          {{ ($image.Resize (printf "%dx%d webp q75" $size $size)).RelPermalink }} {{ $size }}w,
        {{ end }}"
        src="{{ $image.RelPermalink }}"
      />
      
    {{ else }}
      <p class="text-xs text-red-500">Image not found - {{ $imagePath }}</p>
    {{ end }}
  {{ else }}
    <p class="text-xs text-red-500">No image parameter for {{ .Title }}</p>
  {{ end }}
  <p class="uppercase font-body mt-6">
    <span>{{ .Title }}</span><br />
  </p>
  <p class=" uppercase font-body pb-2">
    <span>{{ .Params.position }}</span><br />
  </p>
</div>

