
<div>
<div>
{{ $quality := 80 }}
{{ $imagePath := printf .Params.image }}
{{ with resources.Get $imagePath }}
  {{ $image700 := .Fill (printf "700x700 webp picture q%d" $quality) }}
  {{ $image600 := .Fill (printf "600x600 webp picture q%d" $quality) }}
  {{ $image500 := .Fill (printf "500x500 webp picture q%d" $quality) }}
  {{ $image400 := .Fill (printf "400x400 webp picture q%d" $quality) }}
  {{ $image300 := .Fill (printf "300x300 webp picture q%d" $quality) }}
  <picture>
    <source media="(min-width: 1536px)" srcset="{{ $image700.RelPermalink }}">
    <source media="(min-width: 1280px)" srcset="{{ $image600.RelPermalink }}">
    <source media="(min-width: 1024px)" srcset="{{ $image500.RelPermalink }}">
    <source media="(min-width: 640px)" srcset="{{ $image400.RelPermalink }}">
    <source media="(min-width: 375px)" srcset="{{ $image300.RelPermalink }}">
    <img
      src="{{ $image300.RelPermalink }}"
      alt="{{ $.Title }} - {{ $.Params.position }}"
      loading="lazy"
      width="{{ $image700.Width }}"
      height="{{ $image700.Height }}"
      decoding="async"
      class="h-auto w-full object-cover aspect-square rounded-3xl transition-all duration-300 ease-in-out hover:brightness-75"
    >
  </picture>
{{ else }}
  <p>Image not found: {{ $imagePath }}</p>
{{ end }}
</div>

  <p class="uppercase font-body mt-6">
    <span>{{ .Title }}</span><br />
  </p>
  <p class=" uppercase font-body pb-2">
    <span>{{ .Params.position }}</span><br />
  </p>
</div>

