<div class="flex justify-between px-2 sm:px-4">
  <div class="pb-2 sm:pb-4 p">
    <div class="my-6 md:my-20 sm:text-left">
      <p
        >Company No. 15404713 <br />
        Registered in England and Wales <br />
        128 City Road, London, EC1V 2NX, UNITED KINGDOM <br />
        &copy; TAKARA.AI Ltd {{ now.Format "2006" }}. All rights reserved.</p
      >
    </div>
  </div>
  <div class="flex justify-center items-center">
    <p class="text-sm text-right pr-2 sm:pr-4">
      Made over a lot of late nights by Jordan Legg
    </p>
    <a
      href="https://github.com/takara-ai/Website"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center justify-center plausible-event-name=Repository"
    >
      <img src="{{ "badges/github.svg" | absURL }}" alt="View Repository on
      GitHub" class="h-6 mb-4 sm:mb-0" />
    </a>
  </div>
</div>
