{{ $svg := resources.Get "images/logo-24/TakaraAi.svg" }}
<footer class="border-y border-dashed border-white">
  <div class="sm:flex justify-between">
    <div class="bg-white flex-grow relative hidden sm:block"></div>
    <nav class="text-right sm:border-l border-white border-dashed">
      {{ range .Site.Menus.footer }}
      <a
        href="{{ .URL }}"
        {{
        if
        .Params.external
        }}target="_blank"
        {{
        end
        }}
        class="flex justify-end border-t border-white border-dashed py-2 sm:py-4 hover:invert bg-black font-extrabold"
      >
        {{ if eq .Params.type "icon" }}
        <svg
          class="text-red-700 pr-1 md:pr-4 text-right h-10 sm:h-12 md:h-16 lg:h-24 xl:h-32 2xl:h-52"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
        >
          <path d="{{ .Params.icon }}" />
        </svg>
        {{ else if eq .Params.type "svg" }}
        <img
          class="{{ .Params.imageClass }}"
          src="{{ $svg.RelPermalink | absURL }}"
          alt="{{ .Name }} Icon"
        />
        {{ end }}
        <h2
          class="{{ .Params.textClass }} {{ if not .Params.customTextClass }}
                     pr-1 md:pr-4 text-right text-4xl sm:text-6xl md:text-7xl lg:text-8xl xl:text-9xl 2xl:text-10xl
                     {{ end }}"
        >
          {{ .Name | safeHTML }}
        </h2>
      </a>
      {{ end }}
    </nav>
  </div>
</footer>
